.landing-home {
    background-image:
        /* linear-gradient(to bottom right,
            rgba(0, 0, 0, 0.7), */
        /* Màu tối (độ mờ) ở góc trên bên trái */
        /* rgba(0, 0, 0, 0) */
        /* Trong suốt (sáng dần) ở góc dưới bên phải */
        /* ), */
        url('https://img.tastykitchen.vn/crop/1620x800/banner-desktop/2022/04/20/group-863-97d5.png');
    /* Đường dẫn tới hình ảnh  */
    /* object-fit: contain; */
    background-size: cover;
    /* Đảm bảo hình ảnh phủ đầy */
    background-position: center;
    /* Căn giữa hình ảnh */
    height: 100vh;
    /* Chiều cao phần tử, có thể điều chỉnh theo nhu cầu */
    color: #fff;
    position: relative;
    box-sizing: border-box;
}

.landing-home-captions {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.landing-home-captions h3 {
    display: inline-block;
    padding-bottom: 1.4rem;
    position: relative;
}

.landing-home-captions h3::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.landing-home-captions p {
    font-size: 46px;
    line-height: 56px;
    margin: 20px 0;
    font-weight: 600;
    letter-spacing: .05em;
}

.landing-home-captions button {
    border: 1px solid #fff;
    padding: 13px 35px;
    transition: all .2s;
}

.landing-home-captions button:hover {
    background-color: var(--color-red-tomato);
    border-color: var(--color-red-tomato);
}